.orange{
    background-color: orange;
}
.yallow{
    background-color: rgb(221, 221, 114);
}
.first{
    border: 2px solid ;
    padding: 10px;
    width: 800px;
    background-color: white
}
.third{
    border: dashed ;
    padding: 10px;
    width: 800px;
    background-color: white}
.second{
    border: dashed red ;
    padding: 10px;
    width: 750px;

}
.three{
    border:  2px solid ;
    padding: 10px;
    width: 800px;
    background-color: white}
    